# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
*.egg-info/
build/
dist/
